@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.logo-ieee{
    background-color: #FFFFFF;
}

.ruler{
    border: 1px solid #3DB2FF;
    display: block;
    width: 95%;
}
.footer {
    background-color: #f9f9f9;
    box-sizing: border-box;
    outline: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Footer-name{
  background: -webkit-linear-gradient(36deg,#a940fe, #06d3ec);
  margin-left: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thankstext{
    font-family: Poppins;
    font-size: 3.4rem;
    font-weight: 500;
}

.container-1 {
    display: flex;
}

.footer-main {
    flex-grow: 1;
    flex-basis: 100%;
}

.col-1 {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
}

.footer-main p {
    font-size: 0.9rem;
    text-align: left;
    font-family: Poppins;
    padding: 5px;

}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin: 0 10px;
    padding: 10px;

}

.footer-links li a {
    color: #757575;
    font-weight: 500;
    text-decoration: none;
    font-size: medium;
}

.col-1 ul li a:hover {
    color: #1D3557;
    font-weight: 600;
    padding-left: 2px;
    transition: all 0.3s ease;
}

.footer-links li h2 {
    color: #757575;
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 600;
    position: relative;

}

.bottom-content {
    font-size: 14px;
    text-align: center;
    background-color: rgb(158, 150, 150,0.8);
    padding-bottom: 5px;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-bottom: -15px;
}
.icons{
    color: grey;
    transition: all 0.25s ease-in-out;
}

.icons:hover{
    color: #3DB2FF;
}
.bottom {
        display: block;
        font-family: Poppins;
        font-size: 100%;
        font-weight: 500;
        height: 100%;
        color: black;
        padding-bottom: 10px;
        padding-top: 10px;
    }


@media screen and (max-width:576px) {
    .ruler{
        width: 90%;
        margin-left: 10px;
        margin-right: auto;
    }
    .APP {
        min-height: 50vh;
    }

    .footer {
        margin-top: 13px;
        margin-left: 0%;
        position: sticky;
        display: grid;
        position: -webkit-sticky;
    }

    .container-1 {
        display: block;
    }

    .bottom {
        display: block;
    }
}



@media screen and (max-width:768px) {
    .container-1 {
        display: block;
    }

    .footer {
        position: sticky;
        margin-left: 0%;
        position: -webkit-sticky;
    }

    .bottom {
        display: block;
    }
}

@media screen and (max-width:991px) {

    .container-1 {
        display: block;
    }

    .footer {
        position: sticky;
        margin-left: 0%;
        position: -webkit-sticky;
    }

    .bottom {
        display: block;
    }
}